body {
    font-family: 'Sarabun', sans-serif;
    background-color: whitesmoke;
}

h3{
    color: rgb(38, 165, 0);
    text-decoration: underline;

}

.wrapper {
    display: block;
    background-color: white;
    margin: 0px auto;
    width: 45%;
    height: 100%;
    padding: 4%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

header > h1{
    text-align: right;
}

header > img{
    width: 200px;
    border-radius: 50%;;
}

.circle_list{
    list-style-type: circle;
}

.contacts_block > ul > li > span{
    color: rgb(58, 129, 234);
}
.contacts_block > ul{
    list-style-type: none;
}

.contacts_block > ul > li{
    font-weight: 600;
}

.education_block > span {
    font-weight: bold;
}

.skills_block > ul > li{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.projects_block > ul > li{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.projects_block > ul > li:before{
    color: blue;
    font-size: 15px;
    content: "➤";
    padding-right: 5px;
}


.skills_block > ul > li:before{
    color: green;
    font-size: 30px;
    content: "✔";
    padding-right: 5px;
}
.skills_block > ul > li > span{
    font-weight: bold;
}

.ed_years{
    color: gray;
}

.projects_block > ul >li{
    font-weight: bold;
}

.icon{
    padding-right: 5px;
    width: 15px;
}

#footer_course > img{
    width: 100px;
}

#footer_git{
    text-decoration: none;
    color: gray;
    font-weight: bold;
    float: right;
}
#footer_git > img{
    width: 30px;
    padding-right: 6px;
}

a{
    color:rgb(58, 129, 234);
}
